@charset "utf-8";

.work-page {
    text-align: left;
    position: relative;
    max-width: 800px;
    top: 75px;
}

.index-page {
    text-align: center;
    position: relative;
    top: 75px;
}

.about-page {
    text-align: center;
    position: relative;
    max-width: 600px;
    top: 75px;
}

.contact-page {
    text-align: center;
    position: relative;
    max-width: 600px;
    top: 75px;
}
